* {
    color: #46434c;  /* define general text color */
}

/* change all img style after p */
p ~ img {
    border: 5px solid #ebf0f3;
}

body {
    background-color: #FFF9F9;
    font-family: 'Figtree', sans-serif;
    margin: 0;
}

button {
    border-radius: 0;
    border-width: 0;
    padding: 20px;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    transition: background-color 0.5s;
    background-color: #ebf0f3;
}

button:hover {
    background-color: #eedcde;
}

input, select {
    border-radius: 0;
    border-width: 0;
    background-color: #ebf0f3;
    padding: 5px;
    font-family: 'Figtree', sans-serif;
}

fieldset {
    max-width: 50%;
    border-style: dotted;
    border-width: 0.2rem;
}

legend {
    font-weight: bold;
}

textarea {
    background-color: #ebf0f3;
    border-radius: 0;
    border-width: 0;
}

/* making a fixed navigation bar at the top layer */
nav {
    background-color: Thistle;
    height: 5.5vw;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

h1 {
    color: #905E96;
    font-family: 'Dancing Script', cursive;
    font-size: 0.75in;
}

h2 {
    color: #937DC2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h3 {
    color: #905E96;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

hr {
    width: 10%;
    border-style: dotted;
    border-width: 0.5rem 0 0 0;
    border-color: #F2D7D9;
}

section {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 0;
    padding-right: 0;
}

footer {
    background-color: Thistle;
    height: 3.5cm;
    text-align: center;
    padding-top: 1cm;
}

footer > .footer-greet, i, .copyright {
    color: #FFF9F9;
}

section img {
    opacity: 0.75;
}

img[alt^="Azura"] {
    width: 40%;
}

img[alt^="dorm"] {
    width: 50%;
}

/* make the main content texts more spread out */
p, ul, ol, form {
    line-height: 2;
}

/* add background color when clicking on the main contents */
p:active, ul:active, ol:active {
    background: #eedcde;
}

span.comment {
    font-style: italic;
}

/* change the paragraph style immediately after summary */
summary + p {
    font-style: italic;
}

.copyright {
    font-size: small;
}

.footer-greet {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.75cm;
}

.title {
    text-align: center;
    padding: 250px 0 150px 0;
}

.title > h1 {
    margin: 0 auto 0 auto;
}

.title > h2 {
    color: rgb(144, 94, 150);
}

/* spreading the indices in the navigation bar */
.indices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2vw;
    width: 75%;
    position: absolute;
    right: 5%;
    margin-top: 2%;
}

.indices > a {
    color: hsl(293, 23%, 30%);
    display: inline-block;
    font-size: 1.25em;
    text-decoration: none;
    transition: color 0.5s;
    flex: 1 1 auto;
    text-align: right;
}

.indices > a:hover {
    color: Seashell;
}

/* styling the back to top icon on the top-left */
#index {
    color: #FFF9F9;
    font-size: 2.8vw;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    position: absolute;
    left: 10px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 0;
}

#last-meeting {
    margin-top: 0;
}

/* make changes based on screen width */
@media (max-width: 600px) {
    .indices {
        display: none;
    }
}